<%- include('partials/head') %>
<%- include('partials/header') %>

<main>
    <h1><%= title %></h1>
    <p> <%= title %> | Só pra quem pode..."></pode></p>
    <form action="/convidados/adicionar" method="post"></form>
    <div>
        <label for="nome">Nome</label>
        <input type="text" id="nome" name="nome" placeholder="fulano">
    </div>
    <div>
        <label for="quantidade">quantidade</label>
        <input type="number" id="quantidade" name="quantidade" value="1" min="1" max="15" step="1">
    </div>
    <div>
        <input type="checkbox" nome="vip" id="vip">
        <label for="vip">VIP</label>    
    </div>
    <button>Adicionar Convidado</button>
</form>
</main>

 <%- include('partials/footer') %>
