<%- include('partials/head') %>
<%- include('partials/header') %>

<main>
    <h1><%= title %></h1>
    <p> <%= title %> | Só pra quem pode..."></pode></p>
    <a href="/convidados">Ver lista de convidados</a>
    <a href="/convidados/vip">Ver lista de convidados VIPs</a>
    <a href="/convidados/adicionar">Adicionar convidados</a>
</main>

 <%- include('partials/footer') %>
